<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.dev.mapper.AdminMapper">

	<select id="getList"  resultType="Admin">
		SELECT
				admId
			    ,pw
			    ,nm
				,authCd
			    ,tel
			    ,email
			    ,regId
			    ,regDt
			    ,delYn
			    ,useYn
		FROM
		  	 	tb_admin 
		ORDER BY 
				regDt desc 
	</select>
	
	<select id="view"  resultType="Admin">
		SELECT
				admId
			    ,pw
			    ,nm
				,authCd
			    ,tel
			    ,email
			    ,regId
			    ,regDt
			    ,delYn
			    ,useYn
		FROM
		  	 	tb_admin 
		WHERE  
				admId = #{admId} 
	</select>
	
	<insert id="insert" >
		INSERT INTO 
			tb_admin
				(
				admId
				,pw
				,nm
				,authCd
				,tel
				,email
				,regId
			    ,regDt
				 )
		VALUES
				(
				#{admId}
				,#{pw}
				,#{nm}
				,#{authCd}
				,#{tel}
				,#{email}
				,#{regId}
				,now()
				)
	</insert>
	
	<update id="update" parameterType="Admin">
		UPDATE 
			tb_admin
		SET	
			pw = #{pw}
			,nm = #{nm}
			,authCd = #{authCd}
			,tel = #{tel}
			,email = #{email}
		WHERE 
			admId = #{admId}
	</update>
	
	<delete id="delete" parameterType="int">
		DELETE 
		FROM 
			tb_admin
		WHERE 
			admId = #{admId}
	</delete>
	
	
	<select id="login"  resultType="Admin">
		SELECT
				admId
			    ,nm
		FROM
		  	 	tb_admin 
		WHERE admId = #{admId}  
			AND pw = #{pw}	 	
	</select>
	
	
</mapper>