<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.dev.mapper.CmnCdMapper">
	<select id="list" resultType="CmnCd">
		SELECT	cmnCd.*
		FROM(
			SELECT	 cmnCd.*
   					,ROW_NUMBER() OVER(ORDER BY cmnCd.groCd ASC) AS rNum
			FROM (SELECT DISTINCT groCd, groNm FROM tb_cmn_cd
				  WHERE		groCd LIKE '%${searchKey.keyGroCd}%' 
				 		AND cmnCd LIKE '%${searchKey.keyCmnCd}%'
				 		AND groNm LIKE '%${searchKey.keyGroNm}%'
				   		AND cmnNm LIKE '%${searchKey.keyCmnNm}%'
					 	AND useYn LIKE '%${searchKey.keyUseYn}%'
			) cmnCd
		) cmnCd
		WHERE rNum BETWEEN #{cri.rowStart} AND #{cri.rowEnd}
		ORDER BY rNum ASC
	</select>
		
	<select id="listCount" resultType="int" parameterType="SearchKey">
	   	SELECT COUNT(DISTINCT groCd)
	   	FROM tb_cmn_cd
	    	WHERE 	groCd LIKE '%${keyGroCd}%' 
		 		AND cmnCd LIKE '%${keyCmnCd}%'
		 		AND groNm LIKE '%${keyGroNm}%'
		   		AND cmnNm LIKE '%${keyCmnNm}%'
			 	AND useYn LIKE '%${keyUseYn}%'
	</select>
	
	<select id="subList" resultType="CmnCd" parameterType="String">		 	
		SELECT 	 cmnCd.*
				,ROW_NUMBER() OVER(ORDER BY cmnCd.cmnCd ASC) AS rNum
		FROM (SELECT cmnCd, cmnNm, arayOrde, useYn FROM tb_cmn_cd
			  WHERE groCd LIKE '%${groCd}%'
		) cmnCd
		ORDER BY rNum ASC
	</select>
	
	<select id="subCount" resultType="int" parameterType="String">
	    SELECT COUNT(*)
	    FROM tb_cmn_cd
	    WHERE groCd LIKE '%${groCd}%'
	</select>
	
	<insert id="insert" parameterType="CmnCd">
		INSERT INTO 
			tb_cmn_cd (
					 groCd
				    ,cmnCd
				    ,groNm
				    ,cmnNm
				    ,regId
				    ,regDt
				    ,useYn
				    ,arayOrde
			)
		VALUES (
				 #{groCd}
				,#{cmnCd}
				,#{groNm}
				,#{cmnNm}
				,#{regId}
				,now()
				,#{useYn}
				,#{arayOrde}
		)
	</insert>
	
	<update id="update" parameterType="SearchKey">
		UPDATE 
			tb_cmn_cd
		SET	
			 cmnCd = #{keyCmnCd}
			,cmnNm = #{keyCmnNm}
			,useYn = #{keyUseYn}
			,arayOrde = #{keyArayOrde}
		WHERE 
			groCd = #{keyGroCd} AND cmnCd = #{keyCmnCd}
	</update>
	
	<delete id="delete" parameterType="SearchKey">
		DELETE FROM tb_cmn_cd
		WHERE groCd = #{keyGroCd} AND cmnCd = #{keyCmnCd}
	</delete>
	
	<select id="cdList" resultType="CmnCd">
		SELECT DISTINCT groCd, groNm
		FROM tb_cmn_cd
		ORDER BY groCd ASC
	</select>
	
	<select id="codeChk" resultType="Integer">
		SELECT 
			COUNT(*) 
		FROM 
			tb_cmn_cd
		WHERE 
			groCd = #{groCd} AND cmnCd = #{cmnCd};	 	
	</select>
</mapper>