<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.dev.mapper.HistoryMapper">

	<select id="getHistoryList" resultType="com.spring.dev.domain.History">
	<![CDATA[
	SELECT
				historyIdx
			    ,contCd
			    ,contNm
			    ,contStyle
			    ,contScript
			    ,contents
			    ,historyVer
			    ,regId
			    ,regDt
		FROM
		  	 	tb_contents_history
		WHERE 1=1
		 ]]>
		  <if test="cri.searchType != null">
            <if test="cri.searchType == 'all'.toString()">
                and ( historyVer like CONCAT('%', #{cri.keyword}, '%')
                OR contNm like CONCAT('%', #{cri.keyword}, '%')
                OR contents like CONCAT('%', #{cri.keyword}, '%')) 
            </if>
            <if test="cri.searchType == 'historyVer'.toString()">
                and historyVer like CONCAT('%', #{cri.keyword}, '%')
            </if>
            <if test="cri.searchType == 'contNm'.toString()">
                and contNm like CONCAT('%', #{cri.keyword}, '%')
            </if>
            <if test="cri.searchType == 'contents'.toString()">
                and contents like CONCAT('%', #{cri.keyword}, '%') 
            </if>
          </if>
         <![CDATA[
		ORDER BY 
				regDt desc 
		LIMIT #{cri.pageStart}, #{cri.perPageNum}
		]]>
	</select>
	
	<select id="listCount" resultType="int" parameterType="String">
	<![CDATA[
		SELECT COUNT(historyIdx)
		  FROM tb_contents_history
		  WHERE 1=1
		  ]]>
		<if test="searchType != null">
            <if test="searchType == 'all'.toString()">
                and ( historyVer like CONCAT('%', #{keyword}, '%')
                OR contNm like CONCAT('%', #{keyword}, '%')
                OR contents like CONCAT('%', #{keyword}, '%')) 
            </if>
            <if test="searchType == 'historyVer'.toString()">
                and historyVer like CONCAT('%', #{keyword}, '%')
            </if>
            <if test="searchType == 'contNm'.toString()">
                and contNm like CONCAT('%', #{keyword}, '%')
            </if>
            <if test="searchType == 'contents'.toString()">
                and contents like CONCAT('%', #{keyword}, '%') 
            </if>
        </if>
	</select>
	
	<select id="viewHistory"  resultType="com.spring.dev.domain.History" parameterType="com.spring.dev.domain.History">
		SELECT
				historyIdx
			    ,contCd
			    ,contNm
			    ,contStyle
			    ,contScript
			    ,contents
			    ,historyVer
			    ,regId
			    ,regDt
		FROM
		  	 	tb_contents_history
		WHERE  
				historyVer = #{historyVer}
				AND  contCd = #{contCd}
	</select>
	
	<insert id="insertHistory" >
		<selectKey resultType="int" keyProperty="historyVer" order="BEFORE">
        SELECT 
        	NVL(MAX(historyVer)+1,1) 
        FROM 
        	tb_contents_history
        WHERE  contCd = #{contCd}  
		</selectKey> 
		INSERT INTO 
			tb_contents_history
				(
			    contCd
			    ,contNm
			    ,contStyle
			    ,contScript
			    ,contents
			    ,historyVer
			    ,regId
			    ,regDt
				 )
		VALUES
				(
				#{contCd}
				,#{contNm}
				,#{contStyle}
				,#{contScript}
				,#{contents}
				,#{historyVer}
				,#{regId}
				,now()
				)
	</insert>
</mapper>