<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.dev.mapper.IntrBrdMapper">
	<select id="getBrd" resultType="IntrBrd" parameterType="com.spring.dev.domain.Criteria">
		SELECT   tb_board_notice.*
		FROM(
			SELECT   tb_board_notice.*
   				,ROW_NUMBER() OVER(ORDER BY tb_board_notice.boardCd ASC) AS rNum
			FROM tb_board_notice
		) tb_board_notice
		WHERE rNum BETWEEN #{rowStart} AND #{rowEnd}
		ORDER BY tb_board_notice.boardCd ASC
	</select>
	
	<select id="listCount" resultType="int">
	    SELECT COUNT(*)
	    FROM tb_board_notice
	</select>
	
	<select id="listCount2" resultType="int">
	    SELECT COUNT(*)
	    FROM tb_board_notice
	</select>
	
	<select id="search" resultType="IntrBrd" parameterType="IntrBrd">		 	
		SELECT   brd.*
	  		FROM(
	 				SELECT   brd.*
			    			,ROW_NUMBER() OVER(ORDER BY brd.boardCd ASC) AS rNum
	 				FROM (	
	 					SELECT * FROM tb_board_notice 
						WHERE (CASE 
							WHEN #{intrBrd.srchKey} = 't' || #{intrBrd.srchKey} = 'c' THEN boardTitle
							WHEN #{intrBrd.srchKey} = 'tc' THEN boardTitle
							WHEN #{intrBrd.srchKey} = 'w'  THEN regId
							ELSE NULL
						END) LIKE '%${intrBrd.srch}%'
						|| (CASE 
							WHEN #{intrBrd.srchKey} = 'c' THEN boardContent
							ELSE NULL
						END) LIKE '%${intrBrd.srch}%'
					) brd
			) brd
			WHERE rNum BETWEEN #{cri.rowStart} AND #{cri.rowEnd}
			ORDER BY brd.boardCd ASC
	</select>
	
	<select id="dtl" resultType="IntrBrd" parameterType="String">
	    SELECT *
	    FROM tb_board_notice
	    WHERE boardCd = #{boardCd}
	</select>
	
	<insert id="insert">
		INSERT INTO 
			tb_board_notice (
				 boardCd
				,boardTitle
				,boardContent
				,regId
				,regDt
				,fileYn
				,ancmOptnYn
			)
		VALUES (
				 #{boardCd}
				,#{boardTitle}
				,#{boardContent}
				,#{regId}
				,now()
				,#{fileYn}
				,#{ancmOptnYn}
		)
	</insert>
	
	<select id="boardCdMax" resultType="int">
		SELECT MAX(boardCd) FROM tb_board_notice
	</select>
	
	<delete id="delete" parameterType="int">
		DELETE 
		FROM tb_board_notice
		WHERE boardCd = #{boardCd}
	</delete>
	
	<update id="update" parameterType="IntrBrd">
		UPDATE tb_board_notice
		SET	
			 boardTitle = #{boardTitle}
			,boardContent = #{boardContent}
			,fileYn = #{fileYn}
			,ancmOptnYn = #{ancmOptnYn}
		WHERE boardCd = #{boardCd}
	</update>
</mapper>