<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.dev.mapper.IntrBrdMapper">
	<select id="postList" resultType="IntrBrd">
		SELECT   noti.*
  		FROM(
 				SELECT   noti.*
		    			,ROW_NUMBER() OVER(ORDER BY noti.regDt DESC) AS rNum
 				FROM (	
 					SELECT noti.* 
 					FROM (
 						SELECT * FROM tb_intr_brd_noti
						WHERE brdType = '3'
						AND
						(CASE 
				 		 	WHEN #{searchKey.srchPeriod} = '1d'
				 		 			THEN regDt BETWEEN (NOW() + INTERVAL -1 DAY) AND NOW()
				 		 	WHEN #{searchKey.srchPeriod} = '1w'
				 		 			THEN regDt BETWEEN (NOW() + INTERVAL -1 WEEK) AND NOW()
				 		 	WHEN #{searchKey.srchPeriod} = '1m'
				 		 			THEN regDt BETWEEN (NOW() + INTERVAL -1 MONTH) AND NOW()
				 		 	WHEN #{searchKey.srchPeriod} = '6m'
				 		 			THEN regDt BETWEEN (NOW() + INTERVAL -6 MONTH) AND NOW()
				 		 	WHEN #{searchKey.srchPeriod} = '1y'
				 		 			THEN regDt BETWEEN (NOW() + INTERVAL -1 YEAR) AND NOW()
				 		 	ELSE 1=1
				 		END)	
 					) noti 
					WHERE (CASE 
						WHEN #{searchKey.srchKey} = 't' OR #{searchKey.srchKey} = 'tc' THEN brdTl
						WHEN #{searchKey.srchKey} = 'c'  THEN brdCont
						WHEN #{searchKey.srchKey} = 'w'  THEN regId
						ELSE brdTl
					END) LIKE '%${searchKey.srchCont}%'
					OR (CASE 
						WHEN #{searchKey.srchKey} = 'tc' THEN brdCont
						ELSE NULL
					END) LIKE '%${searchKey.srchCont}%'
				) noti
		) noti
		WHERE rNum BETWEEN #{cri.rowStart} AND #{cri.rowEnd}
	</select>
	
	<select id="postListCount" resultType="int" parameterType="SearchKey">
	    SELECT COUNT(*)
	    FROM (
			SELECT * FROM tb_intr_brd_noti
			WHERE brdType = '3'
			AND
			(CASE 
	 		 	WHEN #{srchPeriod} = '1d'
	 		 			THEN regDt BETWEEN (NOW() + INTERVAL -1 DAY) AND NOW()
	 		 	WHEN #{srchPeriod} = '1w'
	 		 			THEN regDt BETWEEN (NOW() + INTERVAL -1 WEEK) AND NOW()
	 		 	WHEN #{srchPeriod} = '1m'
	 		 			THEN regDt BETWEEN (NOW() + INTERVAL -1 MONTH) AND NOW()
	 		 	WHEN #{srchPeriod} = '6m'
	 		 			THEN regDt BETWEEN (NOW() + INTERVAL -6 MONTH) AND NOW()
	 		 	WHEN #{srchPeriod} = '1y'
	 		 			THEN regDt BETWEEN (NOW() + INTERVAL -1 YEAR) AND NOW()
	 		 	ELSE 1=1
	 		END)
		) noti 
    	WHERE (CASE 
			WHEN #{srchKey} = 't' OR #{srchKey} = 'tc' THEN brdTl
			WHEN #{srchKey} = 'c'  THEN brdCont
			WHEN #{srchKey} = 'w'  THEN regId
			ELSE brdTl
		END) LIKE '%${srchCont}%'
		OR (CASE 
			WHEN #{srchKey} = 'tc' THEN brdCont
			ELSE NULL
		END) LIKE '%${srchCont}%'
	</select>
	
	<select id="notiList" resultType="IntrBrd">
		SELECT  tb_intr_brd_noti.* 
			   ,ROW_NUMBER() OVER(ORDER BY tb_intr_brd_noti.brdType ASC) AS rNum
		FROM tb_intr_brd_noti
 		WHERE brdType = '1' OR brdType = '2'
	</select>
	
    <update id="brdHit">
    	UPDATE 
			${tblNm}
		SET	
    		hit = ${hit}+1
    	WHERE brdCd = ${brdCd}
    </update>
    
    <insert id="insert" parameterType="IntrBrd">
		INSERT INTO 
			tb_intr_brd_noti (
				 brdCd
				,brdType
				,brdTypeNm
				,brdTl
				,brdCont
				,regId
				,regDt
				,fileYn
				,ancmOptnYn
				,hit
			)
		VALUES (
				 #{brdCd}
				,#{brdType}
				,#{brdTypeNm}
				,#{brdTl}
				,#{brdCont}
				,#{regId}
				,now()
				,#{fileYn}
				,#{ancmOptnYn}
				,'0'
		)
	</insert>
	
	<select id="dtl" resultType="IntrBrd" parameterType="String">
	    SELECT *
	    FROM tb_intr_brd_noti
	    WHERE brdCd = #{brdCd}
	</select>
		
	<update id="update" parameterType="IntrBrd">
		UPDATE tb_intr_brd_noti
		SET	 brdType = #{brdType}
			,brdTypeNm = #{brdTypeNm}
			,brdTl = #{brdTl}
			,brdCont = #{brdCont}
			,ancmOptnYn = #{ancmOptnYn}
		WHERE brdCd = #{brdCd}
	</update>

	<delete id="delete" parameterType="String">
		DELETE 
		FROM tb_intr_brd_noti
		WHERE brdCd = #{brdCd}
	</delete>
	
	<select id="brdCdMax" resultType="int" parameterType="String">
		SELECT MAX(brdCd) FROM ${tblNm}
	</select>
	
	<select id="getBrdTypeBrd" resultType="IntrBrd">
		SELECT DISTINCT brdType, brdTypeNm
		FROM tb_intr_brd_noti
	</select>
	
	<select id="listFaq" resultType="IntrFaq">
	<![CDATA[
		SELECT   faq.*
		FROM(
			SELECT   tb_brd_faq.*
   					,ROW_NUMBER() OVER(ORDER BY tb_brd_faq.regDt DESC) AS rNum
			FROM tb_brd_faq
			WHERE 1=1
	]]>
			<if test="srch != null">
            	<if test="srch == 'all'.toString()">
					OR brdTl = like CONCAT('%', #{srch}, '%')
					OR brdCont = like CONCAT('%', #{srch}, '%')
					OR regId = like CONCAT('%', #{srch}, '%')
				</if>
				<if test="srch == 'brdTl'.toString()">
	                OR brdTl = like CONCAT('%', #{srch}, '%')
	            </if>
	            <if test="srch == 'brdCont'.toString()">
	                OR brdCont = like CONCAT('%', #{srch}, '%')
	            </if>
	            <if test="srch == 'regId'.toString()">
	                OR regId = like CONCAT('%', #{srch}, '%')
	            </if>
			</if>
	<![CDATA[
		) faq
		WHERE rNum BETWEEN #{cri.rowStart} AND #{cri.rowEnd}
	]]>
	</select>
	
	<select id="top10" resultType="IntrFaq" parameterType="Criteria">
			SELECT   faq.*
		FROM(
			SELECT   tb_brd_faq.*
   					,ROW_NUMBER() OVER(ORDER BY tb_brd_faq.hit DESC) AS rNum
			FROM tb_brd_faq
		) faq
		WHERE (rNum BETWEEN 1 AND 10)  AND hit > 0
	</select>
	
	<select id="listCount" resultType="int">
		<![CDATA[
		SELECT COUNT(*)
		FROM ${tblNm}
		WHERE 1=1
		]]>
		<if test="srch != null">
            <if test="srch == 'all'.toString()">
				OR brdTl = like CONCAT('%', #{srch}, '%')
				OR brdCont = like CONCAT('%', #{srch}, '%')
				OR regId = like CONCAT('%', #{srch}, '%')
			</if>
			<if test="srch == 'brdTl'.toString()">
                OR brdTl = like CONCAT('%', #{srch}, '%')
            </if>
            <if test="srch == 'brdCont'.toString()">
                OR brdCont = like CONCAT('%', #{srch}, '%')
            </if>
            <if test="srch == 'regId'.toString()">
                OR regId = like CONCAT('%', #{srch}, '%')
            </if>
		</if>
	</select>
	
	<update id="faqUpdate" parameterType="IntrFaq">
		UPDATE tb_brd_faq
		SET	 brdType = #{brdType}
			,brdTypeNm = #{brdTypeNm}
			,brdTl = #{brdTl}
			,brdCont = #{brdCont}
			,useYn = #{useYn}
		WHERE brdCd = #{brdCd}
	</update>
	
	<delete id="faqDelete" parameterType="int">
		DELETE 
		FROM tb_brd_faq
		WHERE brdCd = #{brdCd}
	</delete>

	<select id="faqDtl" resultType="IntrFaq" parameterType="String">
	    SELECT *
	    FROM tb_brd_faq
	    WHERE brdCd = #{brdCd}
	</select>
	
	<select id="getBrdTypeFaq" resultType="IntrFaq">
		SELECT DISTINCT brdType, brdTypeNm
		FROM tb_brd_faq
	</select>
	
	<insert id="faqInsert" parameterType="IntrFaq">
		INSERT INTO 
			tb_brd_faq (
				 brdCd
				,brdType
				,brdTypeNm
				,brdTl
				,brdCont
				,regId
				,regDt
				,useYn
				,hit
			)
		VALUES (
				 #{brdCd}
				,#{brdType}
				,#{brdTypeNm}
				,#{brdTl}
				,#{brdCont}
				,#{regId}
				,now()
				,#{useYn}
				,'0'
		)
	</insert>
	
	<select id="listGal" resultType="IntrGal">
	<![CDATA[
		SELECT   gal.*
		FROM(
			SELECT   tb_brd_gal.*
   					,ROW_NUMBER() OVER(ORDER BY tb_brd_gal.regDt DESC) AS rNum
			FROM tb_brd_gal
			WHERE 1=1
	]]>
			<if test="srch != null">
            	<if test="srch == 'all'.toString()">
					OR brdTl = like CONCAT('%', #{srch}, '%')
					OR brdCont = like CONCAT('%', #{srch}, '%')
					OR regId = like CONCAT('%', #{srch}, '%')
				</if>
				<if test="srch == 'brdTl'.toString()">
	                OR brdTl = like CONCAT('%', #{srch}, '%')
	            </if>
	            <if test="srch == 'brdCont'.toString()">
	                OR brdCont = like CONCAT('%', #{srch}, '%')
	            </if>
	            <if test="srch == 'regId'.toString()">
	                OR regId = like CONCAT('%', #{srch}, '%')
	            </if>
			</if>
	<![CDATA[
		) gal
		WHERE rNum BETWEEN #{cri.rowStart} AND #{cri.rowEnd}
	]]>
	</select>
	
	<select id="galDtl" resultType="IntrGal" parameterType="String">
	    SELECT *
	    FROM tb_brd_gal
	    WHERE brdCd = #{brdCd}
	</select>
	
	<update id="updateGal" parameterType="IntrGal">
		UPDATE tb_brd_gal
		SET	 brdType = #{brdType}
			,brdTypeNm = #{brdTypeNm}
			,brdTl = #{brdTl}
			,brdCont = #{brdCont}
			,useYn = #{useYn}
			,img = #{img}
		WHERE brdCd = #{brdCd}
	</update>
	
	<delete id="deleteGal" parameterType="int">
		DELETE 
		FROM tb_brd_gal
		WHERE brdCd = #{brdCd}
	</delete>
	
	<select id="getBrdTypeGal" resultType="IntrGal">
		SELECT DISTINCT brdType, brdTypeNm
		FROM tb_brd_gal
	</select>
	
	<insert id="galInsert" parameterType="IntrGal">
		INSERT INTO 
			tb_brd_gal (
				 brdCd
				,brdType
				,brdTypeNm
				,brdTl
				,brdCont
				,regId
				,regDt
				,useYn
				,hit
				,img
			)
		VALUES (
				 #{brdCd}
				,#{brdType}
				,#{brdTypeNm}
				,#{brdTl}
				,#{brdCont}
				,#{regId}
				,now()
				,#{useYn}
				,'0'
				,#{img}
		)
	</insert>
	
	<select id="getPriBrdTl" resultType="IntrGal">
		SELECT * FROM ${tblNm}
		WHERE brdCd = (
			SELECT MIN(brdCd) FROM ${tblNm}
			WHERE brdCd <![CDATA[ > ]]>	 ${brdCd}
		)
	</select>
	
	<select id="getNextBrdTl" resultType="IntrGal">
		SELECT * FROM ${tblNm}
		WHERE brdCd = (
			SELECT MAX(brdCd) FROM ${tblNm}
			WHERE brdCd <![CDATA[ < ]]>	 ${brdCd}
		)
	</select>
</mapper>