<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.dev.mapper.PopupMapper">

<select id="getPopupList" resultType="Popup">
		<![CDATA[
		SELECT
				popIdx
				,popTp 
				,popNm 
				,startDt 
				,endDt 
				,popUrl 
				,useYn
				,regId  
				,regDt 
		FROM
		  	 	tb_popup
		WHERE 1=1
		 ]]>
		  <if test="cri.searchType != null">
            <if test="cri.searchType == 'all'.toString()">
                and ( popTp like CONCAT('%', #{cri.keyword}, '%')
                OR popNm like CONCAT('%', #{cri.keyword}, '%')
                OR popTxt like CONCAT('%', #{cri.keyword}, '%') )
            </if>
            <if test="cri.searchType == 'popTp'.toString()">
                and popTp like CONCAT('%', #{cri.keyword}, '%')
            </if>
            <if test="cri.searchType == 'popNm'.toString()">
                and popNm like CONCAT('%', #{cri.keyword}, '%')
            </if>
            <if test="cri.searchType == 'popTxt'.toString()">
                and popTxt like CONCAT('%', #{cri.keyword}, '%') 
            </if>
        </if>
		 <![CDATA[
		ORDER BY 
				regDt desc 
		LIMIT #{cri.pageStart}, #{cri.perPageNum}
		  ]]>
	</select>
	
	<select id="listCount" resultType="int" parameterType="String">
	<![CDATA[
		SELECT COUNT(popIdx)
		  FROM tb_popup
		  WHERE 1=1
		]]>  
		<if test="searchType != null">
            <if test="searchType == 'all'.toString()">
                and (popTp like CONCAT('%', #{keyword}, '%')
                OR popNm like CONCAT('%', #{keyword}, '%')
                OR popTxt like CONCAT('%', #{keyword}, '%') )
            </if>
            <if test="searchType == 'popTp'.toString()">
                and popTp like CONCAT('%', #{keyword}, '%')
            </if>
            <if test="searchType == 'popNm'.toString()">
                and popNm like CONCAT('%', #{keyword}, '%')
            </if>
            <if test="searchType == 'popTxt'.toString()">
                and popTxt like CONCAT('%', #{keyword}, '%') 
            </if>
        </if>
	</select>
	
	<select id="popupView"  resultType="Popup">
		SELECT
				popIdx
				,popTp 
				,popNm 
				,popImg
				,popTxt
				,startDt 
				,endDt 
				,popUrl 
				,popHeight
				,popWidth
				,popX
				,popY
				,useYn
				,popTarget 
				,regId  
				,regDt 
		FROM
		  	 	tb_popup 
		WHERE  
				popIdx = #{popIdx} 
	</select>
	
	<insert id="insertPopup" >
		INSERT INTO 
			tb_popup
				(
				,popTp 
				,popNm 
				,popImg
				,popTxt
				,startDt 
				,endDt 
				,popUrl 
				,popHeight
				,popWidth
				,popX
				,popY
				,useYn
				,popTarget 
				,regId  
				,regDt 
				 )
		VALUES
				(
				#{popTp}
				,#{popNm}
				,#{popImg}
				,#{popTxt}
				,#{startDt, jdbcType=DATE}
				,#{endDt, jdbcType=DATE}
				,#{popUrl}
				,#{popHeight}
				,#{popWidth}
				,#{popX}
				,#{popY}
				,#{useYn}
				,#{popTarget}
				,#{regId}
				,now()
				)
	</insert>
	
	<update id="updatePopup" parameterType="Popup">
		UPDATE 
			tb_popup
		SET	
			popTp = #{popTp}
			,popNm = #{popNm}
			,popImg = #{popImg}
			,popTxt = #{popTxt}
			,startDt = #{startDt}
			,endDt = #{endDt}
			,popUrl = #{popUrl}
			,popHeight = #{popHeight}
			,popWidth = #{popWidth}
			,popX = #{popX}
			,popY = #{popY}
			,useYn = #{useYn}
			,popTarget = #{popTarget}
		WHERE 
			popIdx = #{popIdx}
	</update>
	
	<delete id="deletePopup" parameterType="int">
		DELETE 
		FROM 
			tb_popup
		WHERE 
			popIdx = #{popIdx}
	</delete>
	
	<select id="getPopup"  resultType="Popup">
	 <![CDATA[
		SELECT
				popIdx 
				,popTp 
				,popNm 
				,startDt 
				,endDt 
				,popUrl 
				,useYn 
		FROM
		  	 	tb_popup
		WHERE  
				useYn = 'Y'
			AND #{startDt} <= NOW() 
			AND	NOW() <= #{endDt}  
	]]>
	</select>
</mapper>