<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.dev.mapper.PopupMapper">

<select id="getPopupList" resultType="Popup">
		<![CDATA[
		SELECT
				p.popIdx
				,p.popTp 
				,p.popNm 
				,p.popTxt
				,p.startDt 
				,p.endDt 
				,p.popUrl 
				,p.popHeight
				,p.popWidth
				,p.popX
				,p.popY
				,p.useYn
				,p.popTarget 
				,p.regId  
				,p.regDt 
				,f.saveFile
				,f.filePath
		FROM
		  	 	tb_popup p
		  	 	LEFT OUTER JOIN tb_file f ON p.popIdx = f.tblIdx
		WHERE 1=1
		 ]]>
		  <if test="cri.searchType != null">
            <if test="cri.searchType == 'all'.toString()">
                and ( popTp like CONCAT('%', #{cri.keyword}, '%')
                OR popNm like CONCAT('%', #{cri.keyword}, '%')
                OR popTxt like CONCAT('%', #{cri.keyword}, '%') )
            </if>
            <if test="cri.searchType == 'popTp'.toString()">
                and popTp like CONCAT('%', #{cri.keyword}, '%')
            </if>
            <if test="cri.searchType == 'popNm'.toString()">
                and popNm like CONCAT('%', #{cri.keyword}, '%')
            </if>
            <if test="cri.searchType == 'popTxt'.toString()">
                and popTxt like CONCAT('%', #{cri.keyword}, '%') 
            </if>
        </if>
		 <![CDATA[
		ORDER BY 
				regDt desc 
		LIMIT #{cri.pageStart}, #{cri.perPageNum}
		  ]]>
	</select>
	
	<select id="listCount" resultType="int" parameterType="String">
	<![CDATA[
		SELECT COUNT(popIdx)
		  FROM tb_popup
		  WHERE 1=1
		]]>  
		<if test="searchType != null">
            <if test="searchType == 'all'.toString()">
                and (popTp like CONCAT('%', #{keyword}, '%')
                OR popNm like CONCAT('%', #{keyword}, '%')
                OR popTxt like CONCAT('%', #{keyword}, '%') )
            </if>
            <if test="searchType == 'popTp'.toString()">
                and popTp like CONCAT('%', #{keyword}, '%')
            </if>
            <if test="searchType == 'popNm'.toString()">
                and popNm like CONCAT('%', #{keyword}, '%')
            </if>
            <if test="searchType == 'popTxt'.toString()">
                and popTxt like CONCAT('%', #{keyword}, '%') 
            </if>
        </if>
	</select>
	
	<select id="popupView"  resultType="Popup">
		SELECT
				p.popIdx
				,p.popTp 
				,p.popNm 
				,p.popTxt
				,p.startDt 
				,p.endDt 
				,p.popUrl 
				,p.popHeight
				,p.popWidth
				,p.popX
				,p.popY
				,p.useYn
				,p.popTarget 
				,p.regId  
				,p.regDt 
				,f.orgnFile
				,f.saveFile
				,f.filePath
		FROM
		  	 	tb_popup p
		  	 	LEFT OUTER JOIN tb_file f ON p.popIdx = f.tblIdx
		WHERE  
				popIdx = #{popIdx}		
	</select>
	
	<insert id="insertPopup" parameterType="Popup" useGeneratedKeys="true" keyProperty="popIdx">
		INSERT INTO 
			tb_popup
				(
				popTp 
				,popNm 
				,popTxt
				,startDt 
				,endDt 
				,popUrl 
				,popHeight
				,popWidth
				,popX
				,popY
				,useYn
				,popTarget 
				,regId  
				,regDt 
				 )
		VALUES
				(
				#{popTp}
				,#{popNm}
				,#{popTxt}
				,#{startDt, jdbcType=DATE}
				,#{endDt, jdbcType=DATE}
				,#{popUrl}
				,#{popHeight}
				,#{popWidth}
				,#{popX}
				,#{popY}
				,#{useYn}
				,#{popTarget}
				,#{regId}
				,now()
				)
	</insert>
	
	<insert id="insertFile" parameterType="hashmap"> 
	<![CDATA[ 
		INSERT INTO 
			tb_file 
				(
				 fileIdx
				,tblCd
				,tblIdx
				,tblNm
				,orgnFile
				,saveFile
				,fileSize
				,fileExp
				,filePath
				  ) 
		VALUES 
				(
				#{fileIdx}
				,#{tblCd, jdbcType=VARCHAR}
				,#{tblIdx}
				,#{tblNm, jdbcType=VARCHAR}
				,#{orgnFile}
				,#{saveFile}
				,#{fileSize}
				,#{fileExp}
				,#{filePath}
				)
		 ]]> 
	</insert>
	
	<update id="updatePopup" parameterType="Popup">
		UPDATE 
			tb_popup
		SET	
			popTp = #{popTp}
			,popNm = #{popNm}
			,popTxt = #{popTxt}
			,startDt = #{startDt}
			,endDt = #{endDt}
			,popUrl = #{popUrl}
			,useYn = #{useYn}
			,popHeight = #{popHeight}
			,popWidth = #{popWidth}
			,popX = #{popX}
			,popY = #{popY}
			,popTarget = #{popTarget}
		WHERE 
			popIdx = #{popIdx}
	</update>
	
	<delete id="deletePopup" parameterType="int">
		DELETE 
			FROM 
				tb_popup
			WHERE 
				popIdx = #{popIdx}
	</delete>
	
	<select id="getMainPopup"  resultType="Popup">
	 <![CDATA[
		SELECT
				p.popIdx
				,p.popTp 
				,p.popNm 
				,p.popTxt
				,p.startDt 
				,p.endDt 
				,p.popUrl 
				,p.popHeight
				,p.popWidth
				,p.popX
				,p.popY
				,p.useYn
				,p.popTarget 
				,p.regId  
				,p.regDt 
				,f.saveFile
				,f.filePath
		FROM
		  	 	tb_popup p
		  	 	LEFT OUTER JOIN tb_file f ON p.popIdx = f.tblIdx
		WHERE  
				useYn = 'Y'
			AND startDt <= NOW() 
			AND	NOW() <= endDt  
	]]>
	</select>
	
	<select id="winPop"  resultType="Popup">
		SELECT
				p.popIdx
				,p.popNm 
				,p.popTxt
				,p.popUrl 
				,f.saveFile
				,f.filePath
		FROM
		  	 	tb_popup p
		  	 	LEFT OUTER JOIN tb_file f ON p.popIdx = f.tblIdx
		WHERE  
				popIdx = #{popIdx}		
	</select>
	
	<delete id="deleteImg" parameterType="int">
		DELETE FROM tb_file 
			WHERE tblIdx= #{tblIdx}
	</delete>
	
</mapper>