<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	 <typeAliases>
            <typeAlias type="com.spring.dev.domain.Admin" alias="Admin"/>
            <typeAlias type="com.spring.dev.domain.Auth" alias="Auth"/>
            <typeAlias type="com.spring.dev.domain.AuthMenu" alias="AuthMenu"/>
     </typeAliases>
</configuration> 




