<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	 <typeAliases>
            <typeAlias type="com.spring.dev.domain.Admin" alias="Admin"/>
            <typeAlias type="com.spring.dev.domain.Auth" alias="Auth"/>
            <typeAlias type="com.spring.dev.domain.AuthMenu" alias="AuthMenu"/>
            <typeAlias type="com.spring.dev.domain.Contents" alias="Contents"/> 
            <typeAlias type="com.spring.dev.domain.History" alias="History"/> 
            <typeAlias type="com.spring.dev.domain.CmnCd" alias="CmnCd"/>
            <typeAlias type="com.spring.dev.domain.IntrBrd" alias="IntrBrd"/>
            <typeAlias type="com.spring.dev.domain.IntrFaq" alias="IntrFaq"/>
            <typeAlias type="com.spring.dev.domain.Criteria" alias="Criteria"/>
            <typeAlias type="com.spring.dev.domain.SearchKey" alias="SearchKey"/>
     </typeAliases>
</configuration> 




